SchematronValidatorSample/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://www.topologi.com/example"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.topologi.com/example">
	<complexType name="Person">
		<sequence>
			<element name="Name" type="string" />
			<element name="Gender" type="tns:Gender" />
		</sequence>
		<attribute name="Title" type="string" />
	</complexType>
	<simpleType name="Gender">
		<restriction base="string">
			<enumeration value="Male" />
			<enumeration value="Female" />
		</restriction>
	</simpleType>
</schema>